    :root {
        --ultramarine: #120a8f;
        --ripemango: #ffc726;
        --offwhite: #f5f5f5;
        --bitterblack: #1d1615;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Metrophobic", sans-serif;
        text-decoration: none;
        outline: none;
        border: none;
        text-transform: capitalize;
        transition: all 0.2s linear;
        scroll-behavior: smooth;
    }

    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        background: transparent;
        padding: 2rem 9%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: ease 0.5s;
    }

    header .logo img {
        font-size: 1.5rem;
        height: 5rem;
        padding-left: 0.5rem;
    }

    header .navbar a {
        font-size: 1.2rem;
        color: var(--ultramarine);
        margin: 0 1rem;
    }

    header .navbar a:hover {
        color: var(--ripemango);
    }

    header.sticky {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        background: var(--ultramarine);
        padding: 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sticky .navbar a {
        font-size: 1.2rem;
        color: var(--offwhite);
        margin: 0 1rem;
    }

    .sticky .navbar a:hover {
        color: var(--ripemango);
    }

    .sticky .logo img {
        font-size: 1.5rem;
        height: 5rem;
        padding-left: 0.5rem;
    }

    /* Home section */
    section {
        padding: 2rem 9%;
    }

    .home {
        padding-top: 12rem;
        background: url(bridgetown_barbados.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100%;
    }

    .home .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .home .row .content {
        flex: 1 1 45rem;
        text-align: center;
        line-height: 6rem;
    }

    .home .content h2 {
        font-size: 5rem;
        font-weight: 400;
        color: var(--bitterblack);
    }

    .countryText {
        margin: 0;
        line-height: 10rem;
        font-size: 7.5rem;
        font-weight: 800;
        color: transparent;
        text-transform: uppercase;
        animation: Color-change 5s infinite alternate;
        background-size: auto;
    }

    @keyframes Color-change {
        0% {
            color: var(--ultramarine);
            transform: translateY(0rem);
        }

        14% {
            color: var(--ultramarine);
            transform: translateY(1.1rem);
        }

        28% {
            color: var(--ripemango);
            transform: translatey(0rem);
        }

        42% {
            color: var(--ripemango);
            transform: translatey(0rem);
        }

        56% {
            color: var(--bitterblack);
            transform: translatey(1.1rem);
        }

        70% {
            color: var(--ripemango);
            transform: translatey(0rem);
        }

        84% {
            color: var(--ultramarine);
            transform: translatey(1.1rem);
        }

        100% {
            color: var(--ultramarine);
            transform: translatey(0rem);
        }
    }

    /* About section */
    .about .row .image {
        flex: 1 1 42rem;
        text-align: center;
        padding: 1rem 0;
    }

    .about .row .image svg {
        width: 100%;
        height: 30rem;
        flex: 1 1 42rem;
    }

    .about .row .image svg path {
        fill: var(--offwhite);
        stroke: var(--bitterblack);
        stroke-width: 0.2rem;
        transition: fill 0.2s;
    }

    .about .row .image svg path:hover {
        fill: var(--ultramarine);
    }

    .countryName-tooltip {
        position: fixed;
        pointer-events: none;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        background: var(--offwhite);
        padding: 0.5rem;
        color: var(--bitterblack);
        border: 1px solid var(--bitterblack);
        border-radius: 3px;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .about .row {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1.5rem;
    }

    .about .row .content {
        flex: 1 1 42rem;
    }

    .about .row .content h3 {
        font-size: 2.3rem;
        color: var(--ultramarine);
        line-height: 1.8;
    }

    .about .row .content p {
        font-size: 1.05rem;
        line-height: 1.8;
        color: var(--bitterblack);
        padding: 1rem 0;
        text-transform: none;
    }

    /* Activities section */
    .activities {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .activities .content {
        margin: 0 auto;
        padding: 0 3rem;
    }

    .activities .content h3 {
        font-size: 2.3rem;
        color: var(--ultramarine);
        line-height: 1.8;
    }

    .activities .content p {
        font-size: 1.05rem;
        line-height: 1.8;
        color: var(--bitterblack);
        padding: 1rem 0;
    }

    .activities-gallery {
        background-color: var(--offwhite);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 300px;
        grid-auto-flow: dense;
        padding: 4.5rem;
        grid-row-gap: 1.5rem;
    }

    .gallery-img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    figure {
        border: thin var(--bitterblack) solid;
        margin: auto;
        display: flex;
        flex-flow: column;
        max-width: 250px;
        padding: 0.01rem;
    }

    figcaption {
        background-color: var(--bitterblack);
        text-align: center;
        font-size: 1rem;
        font-style: italic;
        font-weight: 700;
        color: var(--offwhite);
    }